@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

html {
    background-color: #f6f6f6;
}
body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
    padding: 8px;
}
canvas {
    background-color: #fff;
    border: solid 1px #0003;
}

body, body * {
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

div.display {
    margin: 0 8px 8px 0;
}

div.display header {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    padding: 8px;
    color: #335;
}
div.display header h3 {
    font-size: 8px;
    line-height: 1.2em;
    padding: 2px 4px;
    border-radius: 2px;
    margin-bottom: 2px;
    opacity: .85;
    color: black;
}
div.display header h2 {
    font-size: 14px;
    line-height: 1.2em;
}

div.display footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 0;
    padding: 8px;
    color: #335;
    font-size: 10px;
    opacity: .5;
}
