@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

html {
    background-color: #f6f6f6;
}
body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
    padding: 8px;
}
canvas {
    background-color: #fff;
    border: solid 1px #0003;
    margin: 0 8px 8px 0;
}

* {
    margin: 0;
}
div {
    position: relative;
    box-sizing: border-box;
}

div.test-display h2 {
    position: absolute;
    top: 0;
    padding: 8px;
}
